<div class="package-browser">
    <div class="general-info">
        <span class="h1">{{ name }}</span>
        </br>
        <span class="description">Description: {{ description }}</span>
        </br>
<div class="pkgLabel">Current version filter: </div>
<div class="versionFilter">{{ versionFilter }}</div>
    </div>
    <div class="versions-info">
        <span class="h1">Available Versions</span>
        <div>
            <ul>
        {{#versionsArray}}
            <li>{{version}}</li>
        {{/versionsArray}}
        </div>
    </div>
</div>


