.package-browser {
    margin: 12px 15px 5px 40px;
    font-size: 14px;
    width: 100%;
    float: left;
    cursor: auto;
      -webkit-user-select: text;
      -khtml-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      -o-user-select: text;
      user-select: text;
}
.js-prop-defn:focus {
  outline: none;
}
.h1 {
    font-size: 16px;
    font-weight: bold;
}
.description {
    margin: 0 0 15px 0;
}
.general-info {
    float: left;
    width: 35%%;
    margin: 0 0 15px 0;
    word-wrap: break-word;
}
.versions-info {
    float: right;
    width: 50%;
    margin: 0 0 15px 20px;
    word-wrap: break-word;
}
