.package-browser {
    margin: 12px 15px 5px 40px;
    font-size: 14px;
    float: left;
}
.h1 {
    font-size: 16px;
    font-weight: bold;
}
.description {
    margin: 0 0 15px 0;
}
.package-browser .versions-info {
    float: right;
    margin: 0 0 15px 20px;
}
.package-browser .general-info {
    float: left;
    width: 70%;
    margin: 0 0 15px 0;
}
